
#navbar {
    display:flex;
    /* flex-direction: row; */
     /* horizonal */
    justify-content: space-between;
    /* vertical  */
    align-items: center;
    padding: 10px 20px; 
    background-color: rgb(204, 222, 216);
    /* height: 100px; */
    border-radius: 10px;

}

#navbar ul{
    list-style:none;
    display:flex;
    gap:20px;
    
}

#navbar img{
width: 75px;
height: 75px;
border-radius: 50%;
}

#hero{
    background-image: url("https://static.photos/nature/1200x630/138.webp");  
    background-size: cover; 
    width:100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero h3 {
    font-size: 60px;
    background-color: beige;
}
.dev-color{
    color: red;
}
.sec{
    color: rgb(14, 164, 14);
}

.grid-item{
    background-color: rgb(197, 197, 220);
    margin: 10px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
.grid-item img{
    width:95%;
    border-radius: 20px;
    height: 150px
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.info{
    display: flex;
    gap:25px;
    align-items: center;    
}
button{
    background-color: brown;
    border-radius: 10%;
    padding: 5px;
    color: white;
}
